@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-2 rounded-md mt-1;
  }
  .btn-primary {
    @apply bg-rose-600 text-white;
  }
  .block {
    @apply w-full;
  }

  .input_container {
    @apply border px-2 rounded-lg py-1 mb-4 relative;
  }

  .input_container label {
    @apply text-sm w-full;
  }

  .input_container input {
    @apply outline-none w-full text-base font-semibold;
  }
  .input_container input::placeholder {
    @apply font-normal;
  }
  .logo {
    font-family: "Lobster Two", cursive;
    font-size: 4rem;
    color: rgb(225 29 72/1);
    margin-bottom: 3rem;
  }

  .sidebar {
    @apply fixed inset-y-0 left-0 bg-white shadow-md max-h-screen w-60;
  }
  .sidebar_content {
    @apply flex flex-col justify-between h-full;
  }

  .sidebar_menu_item {
    @apply flex bg-white hover:bg-rose-50 rounded-xl font-bold text-sm text-gray-900 py-3 px-4;
    /* @apply flex items-center bg-rose-200 rounded-xl font-bold text-sm text-rose-900 py-3 px-4; */
  }
  .sidebar_menu_item.active {
    @apply bg-rose-200 text-rose-900;
  }
}

body {
  @apply font-sans;
}
